<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Type</title>
    <link th:href="@{/style_forms.css}" rel="stylesheet" />
</head>
<body>
<h1>Edit Type</h1>

<form action="#" th:action="@{/updateType}" th:object="${type}" method="post">
    <input placeholder="ID" type="number" th:field="*{id}" readonly>
    <input placeholder="tender SRC ID" type="number" th:field="*{tender_src_id}" readonly>
    <input placeholder="Source ID" type="text" th:field="*{sourceId}">
    <input placeholder="Name" type="text" th:field="*{name}">
    <input placeholder="Slug" type="text" th:field="*{slug}">

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>
