body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    text-align: center;
    margin-top: 10px;
    font-style: italic;
}

/* Button styles */
.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #28a745;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #218838;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Table styles */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/* Navigation bar styles */
.navbar {
    background-color: #38393d;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Центрирует текст */
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navbar-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin: 0 15px; /* Добавлено расстояние между ссылками */
    transition: color 0.3s ease;
}

.navbar-link:hover {
    color: #3fa045;
}