<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/style.css}" rel="stylesheet" />
    <title>Tenders</title>
</head>
<body>
<h1>All Purchasers</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Tender ID</td>
        <td>Source ID</td>
        <td>SID</td>
        <td>NAME</td>
    </tr>
    <tr th:each="purchaser : ${purchasers}">
        <td th:text="${purchaser.id}"></td>
        <td th:text="${purchaser.tender_src_id}"></td>
        <td th:text="${purchaser.sourceId}"></td>
        <td th:text="${purchaser.sid}"></td>
        <td th:text="${purchaser.name}"></td>
    </tr>
</table>

</body>
</html>