<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Tender</title>
    <link th:href="@{/style_forms.css}" rel="stylesheet" />
    <script>
        const takenIDs = [[${TakenIDs}]];

        function validateSourceId() {
            const sourceIdInput = document.getElementById("sourceId");
            const submitButton = document.getElementById("submit");
            const errorField = document.getElementById("errorSourceId");
            const sourceId = parseInt(sourceIdInput.value);

            if (takenIDs.includes(sourceId)) {
                errorField.textContent = "This Source ID is already taken.";
                submitButton.disabled = true;
            } else {
                errorField.textContent = "";
                submitButton.disabled = false;
            }
        }
    </script>
</head>
<body>
<h1>Add Supplier</h1>

<form action="#" th:action="@{/addSupplier}" th:object="${supplier}" method="post">
    <input type="number" th:field="*{id}" hidden="hidden">

    <label for="sourceId">Source ID:</label>
    <input type="number" id="sourceId" th:field="*{source_id}" required oninput="validateSourceId()">
    <span id="errorSourceId" style="color: red; font-size: small;"></span>

    <label for="name">Supplier Name:</label>
    <input type="text" id="name" th:field="*{name}" placeholder="Enter supplier name" required>

    <label for="slug">Slug:</label>
    <input type="text" id="slug" th:field="*{slug}" placeholder="Enter slug" required>

    <input id="submit" type="submit" value="Submit" />
</form>
</body>
</html>
