<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Remove Supplier</title>
    <link th:href="@{/style_forms.css}" rel="stylesheet" />
</head>
<body>
<h1>Remove Supplier</h1>

<div th:if="${size > 0}">
    <p style="color: red;">You have connected Awarded to this Supplier. Can not delete.</p>
    <form action="#" th:action="@{/allSuppliers}" method="get">
        <input id="back" type="submit" value="Go back to Suppliers List">
    </form>
</div>

<div th:if="${size == 0}">
    <form action="#" th:action="@{/removeSupplier}" th:object="${supplier}" method="post">
        <input type="number" th:field="*{id}" hidden="hidden">

        <label for="sourceId">Source ID:</label>
        <input type="number" id="sourceId" th:field="*{source_id}" readonly>

        <input type="text" id="name" th:field="*{name}" placeholder="Enter supplier name" hidden="hidden">

        <input type="text" id="slug" th:field="*{slug}" placeholder="Enter slug" hidden="hidden">

        <input id="submit" type="submit" value="Submit">
    </form>
</div>

</body>
</html>
